@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&display=swap');

html *
{
  font-family: 'Kanit', sans-serif;
}

.head{
  
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 90px;
  text-align: center;
  color: rgb(121, 168, 255);
  
}
.head:link {
  text-decoration: none;
}


.searchP{
  text-align: center;
  margin-bottom: 80px;
}

.search{
  font-size: 20px;
  border: 0px;
  padding-left: 30px;
  width: 500px;
  height: 40px;
  text-align: left;
  box-shadow: 5px 5px 20px rgb(0 0 0 / 0.3);
  border-radius: 10px;
}


::placeholder {
  color: rgb(100, 100, 100);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgb(100, 100, 100);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgb(100, 100, 100);
}

.result{
  padding-left: 30px;
  padding-right: 30px;
  width: 650px;
  display:flex;
  flex-direction: column;
  margin: auto;
}

.grid-container  {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 20px;
 
}

.photoM{
  grid-row: 1/ span 5;
  
}
.title{
  margin-left: 50px;
  grid-column: 2 /-1;
  font-size: 30px;
  font-weight: bold;
  color:black;
}

.Link a{
  text-decoration: none;
}



.description{
  margin-left: 50px;
  grid-column: 2 / -1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 18px;
  color: rgb(154, 154, 154);
}

.readmore{
  margin-left: 50px;
  font-size: 20px;
  width: 100px;
  border-radius: 7%;
}

.tags{
  margin-left: 50px;
  margin-bottom: 10px;
  grid-column: 2 / -1;
  color: black;
  
}

.tag{
  margin: 5px;
  margin-left: 0px;
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: none;
}
.tag:hover{
  background-color: #137916; /* Green */
}

.photoR{
  width: 250px;
  height: 440px;
  
  object-fit: cover;
  border-radius: 7%;
}

.item5{
  margin-left: 30px;
}
.photoS{
  
  width: 100px;
  height:  100px;
  margin-left: 20px;
  border-radius: 7%;
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .result{
    width: 1200px;
  }

  .search{
    width: 750px;
    height: 50px;
    padding-left: 40px;
    
  }
    
  .photoR{
    width: 250px;
    height: 300px;
    
    object-fit: cover;
    border-radius: 7%;
  }
}